@font-face {
    font-family: fac;
    src: url(./Fonts/Roboto/Roboto-Light.ttf);
}

* {
    font-family: fac, sans-serif;
    text-decoration: none;
}

a {
    color: inherit;
}

.logo {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 24px;
    text-align: center;
}

.logo,
.awesome,
.headerlinks,
.secondarytext {
    color: #F9FAF8
}

.partone {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.awesome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 35%;
    flex-wrap: wrap;
    padding: 20px;
    gap: 9px;
}

.lap2 {
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: center;
}

.mainimg {
    height: 400px;
    width: auto;
}

.maintext {
    font-size: 48px;
    font-weight: 800;
}

.henchtitle {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    text-align: center;
    margin: 10px;
}

.foursquare {
    display: flex;
    justify-content: center;
    gap: 60px;
    flex-wrap: wrap;
    margin: 20px;
}

.henchman {
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex: 0 0;
    text-align: center;
}

.henchimg {
    border-color: blue;
    border: 4px;
    height: 200px;
    width: auto;
    border-radius: 6px;
}

.henchdescr {
    font-size: 18px;
    color:#1f2937;
}

.partthree {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    padding: 70px;
}

.quote {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 55%;
}

.quote span {
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    text-align: right;
}

.partfour {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.classaction {
    width: 65%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    font-size: 24px;
    color: white;
    background-color: #3882F6;
    font-weight: 800;
    border-radius: 12px;
}

.classaction p {
    margin: 5px;
    font-size: 18px;
    font-weight: 300;
}

.classaction button {
    border-color: white;
}


button {
    background-color: #3882F6;
    width: 90px;
    color: white;
    border-color: #3882F6;
    border-radius: 6px;
    padding: 10px;
    border-style: solid;
}

.secondarytext
.headerlinks {
    font-size: 24px;
}

.laplogo {
    height: 100px;
    width: auto;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
}

.headerlinks {
    display: flex;
    gap: 13px;
}

.header,
.partone {
    background-color: #1f2937;
}